<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bibliotheque</title>
</head>
<body>
    <h1>Bibliothèque</h1>
    <table>
        <thead>
            <tr>
                <td>Titre</td>
                <td>Date de parution</td>
            </tr>
        </thead>
        <tbody>
        <% if (livre) {%>
            <% for(let i = 0; i < livre.length; i++) { %>
            <tr>
                <td><%= livre[i].titre %></td>
                <td><%= livre[i].date_parution %></td>
            </tr>
            <% } %>
        <% } %>

        </tbody>
        
    </table>
    <form action="/ajout" method="POST">
        <span>titre</span>
        <input type="text" name="titre">
        <span>date</span>
        <input type="date" name="date">
        <input type="submit">
    </form>
</body>
</html>